@page "/employeeoverview"

<h1 class="page-title">All employees</h1>



@code {      
    protected override Task OnInitializedAsync()
    {
        InitialiseCountries();
        InitialiseJobCategories();
        InitialiseEmployees();

        return base.OnInitializedAsync();
    }

    public IEnumerable<Employee> Employees { get; set; }
    private List<Country> Countries { get; set; }
    private List<JobCategory> JobCategories { get; set; }

    private void InitialiseJobCategories()
    {
        JobCategories = new List<JobCategory>()
        {
            new JobCategory{ JobCategoryId = 1, JobCategoryName = "Coffee research" },
            new JobCategory{ JobCategoryId = 2, JobCategoryName = "Sales" },
            new JobCategory{ JobCategoryId = 3, JobCategoryName = "Management" },
            new JobCategory{ JobCategoryId = 4, JobCategoryName = "Store Staff" },
            new JobCategory{ JobCategoryId = 5, JobCategoryName = "Finance" },
            new JobCategory{ JobCategoryId = 6, JobCategoryName = "QA" },
            new JobCategory{ JobCategoryId = 7, JobCategoryName = "IT" },
            new JobCategory{ JobCategoryId = 8, JobCategoryName = "Cleaning" },
            new JobCategory{ JobCategoryId = 9, JobCategoryName = "Bakery" },
        };
    }

    private void InitialiseCountries()
    {
        Countries = new List<Country>
        {
            new Country { CountryId = 1, Name = "UK" },
            new Country { CountryId = 2, Name = "Belgium" },
            new Country { CountryId = 3, Name = "US" },
            new Country { CountryId = 4, Name = "Japan" },
            new Country { CountryId = 5, Name = "China" },
            new Country { CountryId = 6, Name = "France" },
            new Country { CountryId = 7, Name = "Brazil" },
            new Country { CountryId = 8, Name = "Russia" },

        };
    }

    private void InitialiseEmployees()
    {
        var employee1 = new Employee
        {
            CountryId = 1,
            MartialStatus = MartialStatus.Single,
            BirthDate = new DateTime(1999, 3, 8),
            City = "Newquay",
            Email = "John@Testman.com",
            EmployeeId = 1,
            FirstName = "John",
            LastName = "Testman",
            Gender = Gender.Male,
            PhoneNumber = "0123457890",
            Smoker = false,
            Street = "Grote Markt 1",
            ZipCode = "LN1 0AB",
            JobCategoryId = 1,
            Comment = "Lorem Ipsum",
            ExitDate = null,
            JoinedDate = new DateTime(2025, 3, 1)
        };

        var employee2 = new Employee
        {
            CountryId = 1,
            MartialStatus = MartialStatus.Single,
            BirthDate = new DateTime(1998, 3, 8),
            City = "London",
            Email = "Athna@Devine.com",
            EmployeeId = 1,
            FirstName = "Athna",
            LastName = "Devine",
            Gender = Gender.Female,
            PhoneNumber = "09876543210",
            Smoker = false,
            Street = "221B Bakery Close",
            ZipCode = "QI5 9ZB",
            JobCategoryId = 5,
            Comment = "Lorem Ipsum",
            ExitDate = null,
            JoinedDate = new DateTime(2021, 6, 15)
        };
    }
}
